body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul li {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.color-text-logo {
  color: #4d5ae5;
}

.nav-link {
  color: #434455;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.mail-address:hover,
.mail-address:focus {
  color: #404bbf;
}

.contact-tel:hover,
.contact-tel:focus {
  color: #404bbf;
}

.section-with-main-header {
  background: #2e2f42;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #ffffff;
}

.header-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}

.order-service-button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  border-color: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
  width: 170px;
  height: 51px;
  border-color: #404bbf;
}

.order-service-button:click {
  background-color: #404bbf;
  width: 169px;
  height: 56px;
  border-color: #404bbf;
}

.our-team-section {
  background: #f4f4fd;
}

.list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.list-text {
  color: #434455;
}

.our-team-section .list-header {
  text-align: center;
}

.our-team-section .list-text {
  text-align: center;
}

footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

footer .logo {
  color: #f4f4fd;
}
